body{
    margin:auto;
}

header{
    height:80px;
    width:100%;
    background-color:blanchedalmond;
    
    
}
.logo{
    height:65px;
    width:65px;
    border-radius:50%;
    background-color:#000dffe1;
    border:4px solid black;
    margin-top:15px;
    margin-left:768px;
}
.image{
   height:715px;
    width:100%;
    background-image: url(demoimages/mytrain.jpeg);
    background-size:cover;
    background-position:50% 37%;
    border:2px solid black;
    position:absolute;
}
#ticket{
    display:block;
    font-size:11px;
    margin-left:11px;
    color:white;
}
.sublogo i{
    font-size:30px;
    margin-top:12px;
    margin-left:15px;
    color:white;
}

.booking{
    display:flex;
    margin-top:-52px;
    margin-left:20px;
}
.booking span{
    display:flex;
    justify-content:space-between;
}
.customer span{
    display:flex;
    justify-content: space-between;
}
.booking a i,.customer a i{
    font-size:50px;
}
.customer{
    display:flex;
    margin-top:-52px;
    margin-left:991px
}
.list{
    height:45px;
    width:937px;
    margin-top:401px;
    margin-left:265px;
    position:absolute;
}
#sublist span{
    color:white;
margin:10px;
}
.fill{
    height:221px;
    width:960px;
    background-color:blanchedalmond;
    position:absolute;
    margin-left:-36px;
}
#subfill1{
    height:120px;
    width:938px;
    margin:2px;
    position:absolute;
    
}
#circle{
    height:40px;
    width:40px;
    background-color:white;
    border:1px solid black;
    border-radius:50%;
    margin-top:19px;
    margin-left:289px;
    font-size:17px;
    display:flex;
    justify-content:center;
    position:absolute;
}
#search1{
    margin-top:28px;
    margin-left:9px;
    position:absolute;
}
#search2{
    margin-top:28px;
    margin-left:389px;
    position:absolute;
}
#search3{
    margin-top:28px;
    margin-left:669px;
    position:absolute;
}
button{
    height:47px;
    width:143px;
    font-size:27px;
    background-color: orangered;
    margin-top:69px;
    margin-left:389px;
    border-radius:4%;
    position:absolute;
}
#subfill2{
    height:91px;
    width:1005px;
    margin-left:-1px;
    border-radius:4px;
    margin-top:124px;
    position:absolute;
}
#fill1 {
    height:40px;
    width:621px;
    background-color:bisque;
    margin:2px;
    margin-left:179px;
    display:flex;
    justify-content:center;
    font-size:19px;
}
.filling{
    display:flex;
}
#fill2{
    height:35px;
    width:300px;
}
.content1{
    width:100%;
    background-color:blanchedalmond;
    margin-top:724px;
    
}
#subtable1{
    height:336px;
    width:1070px;
    margin-left:207px;
    
}
#sub1{
    height:90px;
    width:673px;
    margin-top:25px;
    margin-left:186px;
    position:absolute;
    
    
}
img{
    height:40px;
    width:40px;
    border-radius:50%;
    margin-top:30px;
    margin-left:-38px;
}
.irctclogo{
    height:58px;
    width:70px;
    margin-top:12px;
    margin-left:456px;
    position:absolute;
}
.irctchead{
    height:37px;
    width:600px;
    margin-left:28px;
    display:flex;
    justify-content: center;
    font-size:32px;
    position:absolute;
}
.irctcsubhead{
    height:37px;
    width:254px;
    margin-top:36px;
    margin-left:154px;
    font-size:13px;
    display:flex;
    justify-content:center;
    position:absolute;
}
.sub2{
    height:250px;
    width:955px;
    margin-top:118px;
    margin-left:55px;
    position:absolute;
}
.subhead2{
    display:flex;
 flex-wrap:wrap;
}
#logobox1{
    height:60px;
    width:65px;
    margin-top:34px;
}
#logobox1 img{
    height:55px;
    width:60px;
    margin-top:5px;
    margin-left:5px;

}
#logobox2{
    height:60px;
    width:319px;
    margin-top:34px;
    margin-left:15px;
    display:flex;
    justify-content:center;
    font-size:12px;
}
#logobox3{
    height:60px;
    width:65px;
    margin-top:34px;
    margin-left:151px;
}
#logobox3 img{
    height:55px;
    width:60px;
    margin-top:5px;
    margin-left:5px;

}
#logobox4{
    height:60px;
    width:319px;
    margin-top:34px;
    margin-left:17px;
    display:flex;
    justify-content:center;
    font-size:12px;
}
#logobox11{
    height:60px;
    width:65px;
    margin-top:34px;
}
#logobox11 img{
    height:55px;
    width:60px;
    margin-top:5px;
    margin-left:5px;

}
#logobox22{
    height:60px;
    width:319px;
    margin-top:34px;
    margin-left:15px;
    display:flex;
    justify-content:center;
    font-size:12px;
}
#logobox33{
    height:60px;
    width:65px;
    margin-top:34px;
    margin-left:151px;
}
#logobox33 img{
    height:55px;
    width:60px;
    margin-top:5px;
    margin-left:5px;

}
#logobox44{
    height:60px;
    width:319px;
    margin-top:34px;
    margin-left:17px;
    display:flex;
    justify-content:center;
    font-size:12px;
}/*Subtable 1 table 1 div end here

/*Subtable 2 table 2 div start form here */
#subtable2{
    height:1785px;
    width:1070px;
    background-color:bisque;
    margin-top:64px;
    margin-left:207px;
}
#sub21{
    height:30px;
    width:967px;
    margin-top:20px;
    margin-left:50px;

}
#sub22{
    height:300px;
    width:967px;
    margin-top:20px;
    margin-left:50px;
}
.table{
    height:116px;
    width:345px;
    margin-top:-117px;
    margin-left:34px;
}
#table1{
    height:31px;
    width:150px;
    border:1px solid black;
    margin-top:34px;
    margin-left:15px;
    font-size:10px;
    display:flex;
    justify-content: center;
}
#table2{
    height:31px;
    width:78px;
    border:1px solid black;
    margin-top:-33px;
    margin-left:165px;
    font-size:10px;
    display:flex;
    justify-content: center;
}
#table3{
    height:31px;
    width:150px;
    border:1px solid black;
    margin-top:-2px;
    margin-left:15px;
    font-size:10px;
    display:flex;
    justify-content: center;
}
#table4{
    height:31px;
    width:78px;
    border:1px solid black;
    margin-top:-32px;
    margin-left:165px;
    font-size:10px;
    display:flex;
    justify-content: center;
}
 h4{
    margin-top:10px;
}
#table3 span,#table4 span{
    margin-top:10px;
}
#headd1{
    height: 35px;
    width:345px;
    margin-top:-50px;
    margin-left:49px;
    
}
.secondtable{
    height:500px;
    width:340px;
    margin-top:-17px;
    margin-left:34px;
}
#secondtable1{
    height:32px;
    width:90px;
    margin-top:45px;
    margin-left:15px;
    border:1px solid black;
    font-size:10px; 
    display:flex;
    justify-content: center;
}
#secondtable2{
    height:32px;
    width:130px;
    margin-top:-34px;
    margin-left:106px;
    border:1px solid black;
     font-size:10px;
     display:flex;
     justify-content: center;
}
#secondtable3{
    height:32px;
    width:90px;
    margin-top:-1px;
    margin-left:15px;
    border:1px solid black; 
    font-size:10px;
    display:flex;
    justify-content: center;
}
#secondtable4{
    height:32px;
    width:130px;
    margin-top:-34px;
    margin-left:106px;
    border:1px solid black;
     font-size:10px;
    display:flex;
    justify-content: center;
}
#secondtable5{
    height:32px;
    width:90px;
    margin-top:-1px;
    margin-left:15px;
    border:1px solid black; 
    font-size:10px;
    display:flex;
    justify-content: center;
}
#secondtable6{
    height:32px;
    width:130px;
    margin-top:-33px;
    margin-left:106px;
    border:1px solid black; 
    display:flex;
    justify-content: center;
    font-size:10px;;
}
#secondtable7{
    height:32px;
    width:90px;
    margin-top:-1px;
    margin-left:15px;
    border:1px solid black;
    display:flex;
    justify-content: center;
     font-size:10px;;
}
#secondtable8{
    height:32px;
    width:130px;
    margin-top:-34px;
    margin-left:106px;
    border:1px solid black; 
    display:flex;
    justify-content: center;
    font-size:10px;;
}
#secondtable9{
    height:32px;
    width:90px;
    margin-top:-1px;
    margin-left:15px;
    border:1px solid black; 
    display:flex;
    justify-content: center;
    display:flex;
    justify-content: center;
    font-size:10px;;
}
#secondtable10{
    height:32px;
    width:130px;
    margin-top:-34px;
    margin-left:106px;
    border:1px solid black; 
    display:flex;
    justify-content: center;
    font-size:10px;;
}
#secondtable1 span ,#secondtable2 span,#secondtable3 span,#secondtable4 span,
#secondtable5 span,
#secondtable6 span,#secondtable7 span,
#secondtable8 span,
#secondtable9 span,#secondtable10 span
{
    margin-top:10px;
}
#headd2{
    height: 35px;
    width:288px;
    margin-top:-326px;
    margin-left:49px;
    font-size:12px;
}
#para1{
    height:50px;
    width:973px;
    margin-top:24px;
    margin-left:49px;
}
#headd3{
    height: 35px;
    width:288px;
    margin-top:30px;
    margin-left:49px;
    font-size:12px;}
#listpoint{
    font-size:14px;
    margin-top:3px;
    margin-left:23px;
}
#headd4{
    height: 35px;
    width:288px;
    margin-top:30px;
    margin-left:49px;
    font-size:11px;
}
    #para2{
        height:97px;
        width:969px;
        margin-left:48px;
    }
    #headd5{
        height: 35px;
        width:378px;
        margin-top:30px;
        margin-left:49px;
        font-size:11px;
    }
    #headd6{
        height: 35px;
        width:444px;
        margin-top:30px;
        margin-left:49px;
        font-size:11px;
    }
    /*Subtable2 close table 2 div end here*/
    /* Subtable 3 table 3 div start form here */
#subtable3{
    height:864px;
    width:1070px;
    background-color:bisque;
    margin-top:50px;
    margin-left:207px;
    position:absolute;
} /*subtable 3 end here*/
footer{
    height:50px;
    width:100%;
    background-color:bisque;
    margin-top:976px;
}
